

@media  screen and (max-width: 768px) {
    body {
        background-image: url(../images/bg-intro-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background-color: var(--Red-400);
    }

    .card-description{
        width: 80%;
    }

    .card-description h1{
        font-size: 1.5rem;
        padding: 5rem 1rem 0 1rem;
        font-weight: 700;
        
    }

    .card-description p{
        padding: 0 1rem 0 1rem;
    }

    .card {
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    h2{
        padding: 1rem 3rem;
    }
    
}