

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

:root {
    --Red-400: hsl(0, 100%, 74%);
    --Green-400: hsl(154, 59%, 51%);
    --Purple-700: hsl(248, 32%, 49%);
    --Gray-900: hsl(249, 10%, 26%);
    --Purple-350: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg-intro-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Red-400);
    
}

.card{
    width: 80%;
    height: 90vh;
    overflow: hidden;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1.5rem;   
}

.card-description{
    width: 50%;
}

.card-description h1{
    color: var(--white);
    font-size: 3rem;
    padding: 2rem 2rem 0 2rem;
}

p{
    color: var(--white);
    font-size: 0.9rem;
    padding: 0 2rem 0 2rem;
}

.card-right{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

h2 span{
    color: var(--white);
    font-weight: bold;
}

h2{
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    background-color: var(--Purple-700);
    padding: 1rem 4.5rem;
    border-radius: 10px;
    width: 90%;
}

.card-form{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--white);
    width: 90%;
    padding: 2.5rem 4rem;
    border-radius: 10px;
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


